class {
    onCreate() {
    }
}


<include('./layout/layout.marko')>
    <@body>
         You have ${data.count} new messages!

         <ul if(data.colors && data.colors.length)>
             <li style="color: ${color}" for(color in data.colors)>${color}</li>
         </ul>
         <div else>No colors!</div>
    </@body>
</include>